<?xml version="1.0"?>
<config>
	<modules>
		<LWM_Customoptionsgroup>
			<version>1.0.1</version>
		</LWM_Customoptionsgroup>
	</modules>
	
	<frontend>
		<routers>
			<customoptionsgroup>
				<use>standard</use>
				<args>
					<module>LWM_Customoptionsgroup</module>
					<frontName>customoptionsgroup</frontName>
				</args>
			</customoptionsgroup>
		</routers>
        <layout>
            <updates>
                <customoptionsgroup>
                    <file>customoptionsgroup.xml</file>
                </customoptionsgroup>
            </updates>
        </layout>
	</frontend>

	<global>
		<helpers>
			<customoptionsgroup>
				<class>LWM_Customoptionsgroup_Helper</class>
			</customoptionsgroup>
		</helpers>
		<blocks>
			<customoptionsgroup>
				<class>LWM_Customoptionsgroup_Block</class>
			</customoptionsgroup>
			<adminhtml>
				<rewrite>
					<catalog_product_edit_tab_options_option>LWM_Customoptionsgroup_Block_Adminhtml_Catalog_Product_Edit_Tab_Options_Option</catalog_product_edit_tab_options_option>
				</rewrite>
			</adminhtml>
		</blocks>
		<models>
			<customoptionsgroup>
				<class>LWM_Customoptionsgroup_Model</class>
				<resourceModel>customoptionsgroup_mysql4</resourceModel>
			</customoptionsgroup>

            <customoptionsgroup_mysql4>
                <class>LWM_Customoptionsgroup_Model_Mysql4</class>
                <entities>
				    <customoptionsgroup>
                        <table>custom_options_group</table>
                    </customoptionsgroup>
                </entities>
            </customoptionsgroup_mysql4>
            
           <catalog>
				<rewrite>
					<product_option>LWM_Customoptionsgroup_Model_Product_Option</product_option>
				</rewrite>
            </catalog>
		</models>

        <resources>
            <customoptionsgroup_setup>
                <setup>
                    <module>LWM_Customoptionsgroup</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customoptionsgroup_setup>
            <customoptionsgroup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customoptionsgroup_write>
            <customoptionsgroup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customoptionsgroup_read>
        </resources>
	</global>
	
	<admin>
		<routers>
			<customoptionsgroup>
				<use>admin</use>
				<args>
					<module>LWM_Customoptionsgroup</module>
					<frontName>customoptionsgroup</frontName>
				</args>
			</customoptionsgroup>
		</routers>
	</admin>
</config>
